

.WeatherInfo h1 {
	font-size: 65px;
	margin: 20px;
}

.WeatherInfo ul,
li {
	list-style-type: none;
	font-size: 18px;
}

.WeatherInfo col-6 {
	align-items: center;
}

.WeatherInfo p {
	font-size: 18px;
}

.WeatherInfo .icon-temp {
	justify-content: center;
}

.WeatherInfo .Stats {
	font-size: 16px;
	align-items: center;
	display: flex;
	justify-content: center;
	font-weight: 800;
}

.WeatherInfo .Stats li {
	font-size: 16px;
	margin: 10px;
}

.WeatherInfo .date-time-container {
	display: flex;
	align-items: center;
	font-weight: 600;
	margin: 5px;
}

.WeatherInfo ul {
	padding-left: 0;
}
